<app-header titulo = "Recuperar Contraseña"></app-header>

<ion-content>
    <form>
        <div id="container">
            <h5>Ingrese el email con el cual su cuenta está asociado con el dispositivo.</h5>
        </div>

        <ion-item class="correo">
            <ion-label color="primary" position="floating">
                <ion-icon name="mail-outline"></ion-icon>
                Email:
            </ion-label>
            <ion-input type="email"></ion-input>
        </ion-item>
        <div class="enviar">
            <ion-button (click)="EnviarCorreo()">
              Enviar
              <ion-icon slot="start" name="paper-plane"></ion-icon>
            </ion-button>
        </div>
    </form>

</ion-content>
