<app-header titulo= "Cambiar Contraseña"><app-header>

<ion-content>
    <form class="" #formulario="ngForm" (ngSubmit)="CambiarContraseña();">
        <ion-item id="item">
            <ion-label  id="lb-e" position="floating">
                <ion-icon name="mail-outline"></ion-icon>
                Contraseña
            </ion-label>
            <ion-input type="password" name="password1" required></ion-input>
        </ion-item>
        <ion-item id="item1">
            <ion-label  id="lb-c" position="floating">
                <ion-icon name="lock-open-outline"></ion-icon>
                Contraseña
            </ion-label>
            <ion-input type="password" name="password"required></ion-input>
        </ion-item>
        <span>
          <h6 *ngIf="formulario.invalid==true"class="stilo hide" id="err" #err>password incorrectas
          </h6>
        </span>
        <div class="login">
            <ion-button [disabled]="formulario.invalid" type="submit" [routerLink]="['/home']">
              Cambiar Contraseña
              <ion-icon slot="start" name="log-out"></ion-icon>
            </ion-button>
        </div>

    </form>
</ion-content>
