<app-header titulo= "Registrarse"></app-header>
<ion-content>
    <form class="form" #formulario="ngForm" (Submit)="Guardar();">
    <ion-item class="item-center" lines="full">
      <ion-label position="stacked">Nombres*</ion-label>
      <ion-input type="text" required [(ngModel)]="persona.nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item class="item-center" lines="full">
      <ion-label position="stacked">Apellidos*</ion-label>
      <ion-input type="text" [(ngModel)]="persona.apellido"name="apellido" required></ion-input>
    </ion-item>

    <ion-item class="item-center" lines="full">
      <ion-label position="stacked">Email*</ion-label>
      <ion-input type="email" [(ngModel)]="persona.email" name="email" required></ion-input>
    </ion-item>

    <ion-item class="item-center" lines="full">
      <ion-label position="stacked">Contraseña*</ion-label>
      <ion-input type="password" [(ngModel)]="persona.password" name="password" required></ion-input>
    </ion-item>

    <ion-row class="btn-d">
      <ion-col class="btn-c">
        <ion-button [routerLink]="['/registrarse/confirmar-registro']" type="submit" color="primary" shape="round" expand="block" [disabled]="formulario.invalid">Guardar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="btn-e">
      <ion-col class="btn-c">
        <ion-button (click)="presentAlertConfirm();" type="submit" color="light" shape="round" expand="block">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
