.form
{
    margin-top: 15%;
}
.item-center
{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.btn-d
{
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
}
.btn-e
{
    margin-left: 15%;
    margin-right: 15%;
}
.btn-c
{
    margin-top: 1%;
}
.toolbar
{
    text-align: left;
}

.my-custom-class .alert-wrapper {
  background: #e5e5e5;
}
.alert-wrapper {
  background: #e5e5e5;
}
